.albums-container {
    text-align: center;
    padding: 10px;
  }
  
  .albums-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ff6347;
  }
  
  .album-item {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: left;
  }
  
  .album-image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .album-details {
    text-align: center;
  }
  
  .album-name {
    color: white;
    font-size: 18px;
    margin-bottom: 5px;
  }

  .album-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .album-date{
    
    font-size:15px;
    
  }
  .album-info {
    color:white;
    font-size: 14px;
    margin: 2px 0;
  }
  .search-input {
    width: 30rem; /* Tamaño para pantallas grandes */
    height: 2rem;
  }
  
  /* Media query para dispositivos móviles */
  @media (max-width: 768px) {
    .search-input {
      width: 100%; /* Cambia el tamaño a 100% en dispositivos móviles */
    }
  }
  