.home-container {
    text-align: center;
    padding: 20px;
  }
  
  .home-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2196f3;
  }
  
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-image img {
    width: 200px;
    height: 200px;
    margin: 0 20px;
  }
  
  .home-text {
    max-width: 500px;
    text-align: left;
  }
  
  .home-text p {
    font-size: 16px;
    line-height: 1.5;
    color: white;
  }
  