.members-container {
    text-align: center;
    padding: 20px;
  }
  
  .members-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ff6347;
  }
  
  .member-item {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .member-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .member-details {
    text-align: center;
  }
  
  .member-name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .member-info {
    font-size: 14px;
    margin: 2px 0;
  }
  