body{
  color: white;
}

.members-container {
    text-align: center;
    padding: 20px;
  }
  
  .members-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ff6347;
  }
  .members-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .member-item {
    background-color: #333;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .member-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .member-details {
    font-size: 30px;
    text-align: center;
  }
  
  .member-name {
    font-size: 25px;
    margin-bottom: 5px;
  }
  
  .member-info {
    font-size: 18px;
    margin: 2px 0;
  }
  